<html>
<head>
    <title>Registration Page</title>
</head>


<body>

<h1>Register Page</h1>

<form method="POST" action="">
<input id="username" type="text" name="username" placeholder="User name" required/> 
<br/>
<br/>
<input id="password" type="password" name="password" placeholder="Password" required/> <br/> <br/>
<input id="email" type="email" name="email" placeholder="Email" required/> <br/> <br/>
<input id="reenter-email" type="email" name="reenter-email" placeholder="Re-Enter Email" required/>
<p id="email-error"></p>
<button type="submit" background-color:darkgreen; color:whitesmoke; height:45px; width: 100px;" id="login">Register</button>
</form>
<br/>
If you are already Registered Please login here:<a href="login">Login Page</a>

</body>

</html>